.map-button {
    margin-left: 5px;
    margin-top: 5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    border-left: 5px solid #C75E01;
    display: inline-block;
}

.map-link:link,
.map-link:visited,
.map-link:hover,
.map-link:active{
    text-decoration: none;
}
